@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
@keyframes bgIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes bgOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cardIncoming {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes cardDislike {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-245px) rotate(-15deg);
    opacity: 0;
  }
}
@keyframes cardLike {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(245px) rotate(15deg);
    opacity: 0;
  }
}
